GridBackground
{
	--grid-background-color: var(--ct-colors-grid-light-grey-1);
	--line-color: var(--ct-colors-grid-light-grey-2);
	--thick-line-color: var(--ct-colors-grid-light-grey-3);
	--spacing: var(--ct-metrics-grid-25);

}